.lightPink{
    background-color:#FFD5E9;
}
.pink{
    background-color:#FFBADC;
}
.lightBrown{
    background-color: #E1B19D;
}
.brown{
    background-color: #C79273;
}
.darkBrown{
    background-color: #946656;
}